.Choose{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image-choose{
    width: 50%;
}
.img-choose{
   width: 100%;
}
.conte-choose{
    /* position: relative; */
    margin-top: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    height: 100vh;
}
.small{
    font-weight: 100;
    color:rgb(105, 165, 15) ;
}
svg {
    position: relative;
    width: 150px; height: 150px;
    z-index: 1000;
  }
  svg circle {
    width: 100%; height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
  }
  svg circle:nth-child(2) {
    stroke-dasharray: 460;
    stroke-dashoffset: 120;
    
  }
  .sp-card:nth-child(1) svg circle:nth-child(2) {
    stroke: #00ff43;
  }
  .sp-card:nth-child(2) svg circle:nth-child(2) {
    stroke: #00a1ff;
  }
  .sp-card:nth-child(3) svg circle:nth-child(2) {
    stroke: #ff04f7;
  }
  .number{
    position: absolute;
    /* top: 100%; */
    left: 73%;
    margin-top: -98px;
  }
  .choose-head,.conte-choose,.choose-par,.circles{
    padding-top: 70px;
  }
  .circles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .mean{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
  }
  .gallery-container{
    font-family: 'Poppins', 'sans-serif';
}

/* *{
    font-family: 'Quicksand', 'sans-serif';
} */

.admission-swiper-container{
    width: 90%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
} 

.swiper-images{
    width: 100%;
    height: 40vh;
    padding: 30px;
}

.swiper-images img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
