.news-info{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.news-info>h3{
    font-size: 15px;
}
.news-word{
    width: 100%;
    font-size: 10px;
}
.news-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.small,.news-name{
    padding-top: 25px;
}